body {
    top:0%;
    background-color:#5577FF;   
    color:white;
    padding: 0px;
}
#world{
    top: 0%;
    margin-right:auto;
    margin-left:auto;
}
#textregion{
    margin-right: auto;
    margin-left:auto;
}
#flag {
    margin-right:auto;
    margin-left:auto;
    display:block;
}