body {
    background-color:#5577FF;   
    color:white;
    text-align:center;
}
#vmap{
    margin:auto;
}
#textregion{
    font-size: 5.0vmin;
    width:50%;
    text-align:center;
    display:inline-block;
    
}
#time{
    text-align:left;
    font-size: 5.0vmin;
    display:inline-block;
    width: 20%;
}
#attempts{
    text-align:right;
    font-size: 5.0vmin;
    display:inline-block;
    width: 20%;
}